body {
    background-color: #121212;
}

footer {
    font-family: 'Maven';
    text-align: center; 
}

.logo, .banner {
    max-height: 100%;
    max-width: 100%;
}

.header {
    max-height: 100%;
    max-width: 100%;
    
}